@import "tailwindcss";

@theme {
  --font-sans:
    roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --color-go: #00add8;
}

body {
  background: linear-gradient(135deg, #cbd5e1, #e2e8f0);
}
